/* Swiper container stylng */
.swiper {
    right: 1rem;
    width: 100%;
    height: 100%;
}


.swiper-slide {
    width: 100%;
    height: 100%;
    text-align: left;
    padding-left: 20rem;
     /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
@media (max-width:500px){
    .swiper-slide{
        padding-left: 5rem;
    }
}
.swiper-slide a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
   outline: none;
}

.swiper-button-prev{
    padding-left: 3rem;
}
.swiper-button-next{
    padding-right: 1rem;
}

div.swiper-button-next, div.swiper-button-prev {
  top: 50%
}